.button__close{
	width: 32px;
	height: 32px;
	background-image: url("../../../images/Close-Icon.svg");
	background-size: cover;
	border: none;
	background-color: transparent;
	position: absolute;
	right: -40px;
	top: -40px;
}


.button__close:hover{
	opacity: .6;
}


@media screen and (min-width:320px) and (max-width:767px){
	.button__close{
		width: 20px;
  	height: 20px;
  	right: 0;
 		top: -36px;
	}
}