.popup{
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .5);
	width: 100vw;
	height: 100vh;
	z-index: 99;
	justify-content: center;
	align-items: center;
	display: flex;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.1s, opacity 0.1s linear;
}