.elements{
	display: grid;
	grid-template-columns: repeat(auto-fill, 282px);
	gap: 20px 17px;
	justify-content: center;
}

@media screen and (max-width:900px){
	.elements{
		gap: 20px 17px;
		grid-template-columns: 282px 282px;
	}	
}

@media screen and (max-width:767px){
	.elements{
		grid-template-columns: 282px;
		margin: 0 19px;
	}	
}

