.profile__button-add-profile{
	height: 50px;
	width: 150px;
	border: 2px #fff solid;
	background-image: url("../../../images/Plas.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 22px;
	border-radius: 2px;
}


.profile__button-add-profile:hover{
	opacity: .6;
	cursor: pointer
}

@media screen and (max-width:767px){
  .profile__button-add-profile{
    	width: 282px;
    	background-size: 16px;
  }
}