.popup__profile-ed{
	font-family: 'Inter', 'Arial', sans-serif ;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	text-align: left top;
	height: 35px;
	width: 100%;
	padding: 0;
}
.popup__profile-ed:first-child {
	margin-bottom: 21px;
}

@media screen and (min-width:320px) and (max-width:767px){
	.popup__profile-ed:first-child {
	margin-bottom: 21px;
}
}


.popup__profile-ed::placeholder{
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000;
}

.popup__profile-ed::-webkit-input-placeholder{
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000;
}

.popup__profile-ed::-moz-placeholder{
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000;
}

.popup__profile-ed::-ms-input-placeholder{
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000;
}
