.profile{
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 51px;
}

@media screen and (max-width:768px){
	.profile{
		flex-direction: column;
		margin-bottom: 36px;
		margin-top: 42px;
	}
}
