.popup__container{
	position: relative;
	background-color: #fff;
	width: 430px;
	color: #000;
	z-index: 1;
	border-radius: 10px;
	padding: 34px 36px 0;
	border: none;
	margin: 0;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}


@media screen and (max-width:767px){
	.popup__container{
		width: 282px;
		padding: 25px 22px 0;
	}
}