.popup__header{
	font-family: 'Inter', 'Arial', sans-serif ;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	margin: 0;
	margin-bottom: 39px;
}

@media screen and (max-width:767px){
	.popup__header{
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 66px;
	}
}
