.elements{
	display: grid;
	grid-template-columns: repeat(auto-fill, 282px);
	gap: 20px 17px;
}


@media screen and (min-width:320px) and (max-width:767px){
	.elements{
		gap: 20px 0;
		justify-content: center;
		grid-template-columns: min-content;
	}	
}

@media screen and (min-width:768px) and (max-width:900px){
	.elements{
		gap: 20px 0;
		justify-content: center;
		grid-template-columns: max-content;
	}	
}