.popup__button-close{
	width: 32px;
	height: 32px;
	background-image: url("../../../images/Close-Icon.svg");
	background-size: cover;
	border: none;
	background-color: transparent;
	position: absolute;
	right: -40px;
	top: -40px;
}


.popup__button-close:hover{
	opacity: .6;
	cursor: pointer
}


@media screen and (max-width:768px){
	.popup__button-close{
		width: 20px;
  	height: 20px;
  	right: 0;
 		top: -36px;
	}
}