.profile__info{
	display: grid;	
	position: relative;
	align-items: end;
	grid-template-columns: auto auto;
	column-gap:20px ;
	row-gap: 8px;
	max-width: 336px;
}

@media screen and (max-width:767px){
  .profile__info{
    justify-items: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 
    	minmax(max-content, 1fr) 
    	minmax(max-content, 1fr) 
    	minmax(max-content, 1fr);
    gap: 7px 11px;
  }
}