.profile__name{
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 114%;
	margin:0;
	margin-bottom: 7px;
}

@media screen and (min-width:320px) and (max-width:767px){
  .profile__name{
    font-size: 27px;
		line-height: 33px;
		margin-bottom: 5px;
  }
}