.profile__description{
	font-family: 'Inter', 'Arial', sans-serif ;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width:767px){
  .profile__description{
		font-size: 14px;
		line-height: 17px;		
		grid-column: 2;
		max-width: 198px;
		width: 100%;
	}
}