.element__button-delete{
	width: 18px;
	height: 19px;
	background-image: url(../../../images/trash-bin.svg);
	background-size: cover;
	background-color: transparent;
	border: none;
	position: absolute;
	top: 20px;
	right: 20px;
}

.element__button-delete:hover{
	opacity: .5;
	cursor: pointer
}