.footer{
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	margin-bottom: 60px;
	margin-top: 67px;
	color: #545454b2 ;;
}

@media screen and (min-width:320px) and (max-width:767px){
	.footer{
			margin-bottom: 36px;
			margin-top: 48px;
			margin-left:19px ;
			font-size: 14px;
			line-height: 17px;
	}
}