.profile__name{
	font-family: 'Inter', 'Arial', sans-serif ;
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 114%;
	margin:0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 294px;
	width: 100%;
}

@media screen and (max-width:767px){
  .profile__name{
    font-size: 27px;
		line-height: 33px;
		grid-column: 2/3;
		max-width: 198px;
  }
}