.profile__edit-avatar{
	width: 122px;
	height: 122px;
	border-radius: 47%;
	z-index: 8;
	background-color: #000;
	opacity: 0.8;
	position: absolute;
	background-image: url('../../../images/Pansel.svg');
	background-repeat: no-repeat;
	background-size: 26px 26px;
	background-position: center;
	cursor: pointer;
}

.profile__edit-avatar:hover{
  z-index: 10;
}


@media screen and (max-width:767px){
  .profile__edit-avatar{
    margin-right: 0;
    margin-bottom: 26px;
  }
}

